* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #FFFCF3;
    --highlighted: #00BC8F;
}

html {
    background-color: var(--background-color);
}

.hightlighted-text {
    color: var(--highlighted);
}

a {
    text-decoration: none;
    font-family: SourceSans3;
    color: black;
}

a:hover {
    color: var(--highlighted);
}

.vertical-text {
    writing-mode: sideways-lr;
}

.primary-btn {
    all: unset;
    display: inline-block;
    padding: 12px 40px;
    border: 2.5px solid #1a1a1a;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    font-family: SourceSans3, sans-serif;
    background-color: transparent;
    letter-spacing: 0.02em;
    transition: all .2s ease-in-out;
}

.primary-btn:hover {
    transition: all .2s ease-in-out;
    padding: 12px 72px;
}

.arrow-to-next-section {
    display: flex;
    align-items: center;
    height: 350px;
    padding: 64px 0;
    max-width: 1440px;
}

.go-to-next-section {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

h1 {
    font-size: 128px;
    font-family: Syne;
    font-weight: 800;
}
h2 {
    font-size: 78px;
    font-family: Syne;
    font-weight: 800;
}
h2:hover {
    color: var(--highlighted);
    cursor: default;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 20px;
}

/* Responsive Styling */

@media (max-width: 768px) {
    h1 {
    font-size: 44px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 18px;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 18px;
    }
}
    