body {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 100%;
}

#nav-left {
    display: flex;
}

#nav-right {
    display: flex;
    gap: 32px;
}

#nav-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#nav-logo {
    width: 60px;
}

#nav-logo-text {
    font-family: SourceSans3;
    font-size: 28px;
}

#lang-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.lang-switch-option {
    font-family: Syne;
    font-weight: 600;
    padding: 4px 8px;
    cursor: pointer;
}

.lang-switch-option:not(.selected):hover {
    margin: -3px;
    border: dotted 3px var(--highlighted);
}

.lang-switch-option.selected {
    border: solid 3px var(--highlighted);
}

#nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 32px;
    height: 28px;
    cursor: pointer;
}

.nav-toggle-bar {
    width: 100%;
    height: 3px;
    background-color: black;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1440px;
    width: 100%;
}

#hero-subtitle-with-spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 1000px;
}

#hero-spacer {
    height: 3px;
    width: 100%;
    background-color: black;
}

#hero-subtitle {
    font-family: SourceSans3;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -3%;
    white-space: nowrap;
}

#hero-empty-space {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 64px 0;
}

#scroll-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#scroll-arrow {
    width: 50px;
}

#about {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    gap: 32px;
    box-sizing: border-box;
}

#about-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
}

#about-left, #about-right {
    display: flex;
    flex-direction: column;
}

#about-left {
    width: 55%;
    gap: 20px;
    font-size: 22px;
    font-family: SourceSans3, sans-serif;
    color: black;
    padding-right: 40px;
}

#about-left p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin: 0;
    line-height: 1.4;
}

#about-left p img {
    width: 22px;
    height: 22px;
}

#about-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#about-contact-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#about-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 45%;
    height: 100%;
}

#about-right img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

#to-skills {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 64px 0;
}

#to-skills button img {
    
    rotate: 45deg;
}

footer {
    height: 140px;
}
    
    